﻿@{
    ViewBag.Title = "Hakkımızda";
}

<div class="container text-center">
    <br />
    <h4>Bu platform dünyanın dört bir yanındaki yardıma ihtiyacı olan kişiler ile iletişime geçmeniniz için tasarlandı.</h4>
    <br />
</div>
