﻿@{
    ViewBag.Title = "İletişim";
}

<div class="container text-center">
    <br />
    <h4>Eposta: LetsHelp@gmail.com</h4>
    <br />
    <h4>Telefon: +90 xxx xxx xx xx</h4>
    <br />
    <h4>Adres: Serdivan - Sakarya</h4>
    <br />
</div>