﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container text-center" style="background-color:whitesmoke">
    <h2 style="color:forestgreen">Let's Help</h2><br />
    <h4>Bu site yardıma ihtiyacı olanların daha geniş bir kitleye ulaşmaları için yapılmıştır.</h4>

    <h4>Kampanyalar kısmından şu anda devam eden kampanyaları görebilirsiniz.</h4>

    <h4>Sizde bir kampanya başlatmak istiyorsanız üye olduktan sonra yeni bir kampanya başlatabilirsiniz.</h4><br />
</div>


