﻿@model LetsHelp.Models.KampanyaViewModel
@{
    ViewBag.Title = "Kampanya";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@foreach (var kampanya in Model.KampanyalarSonEklenen)
{

    <div class="card text-center">

        <br />

        <div class="card-body">
            <h2 class="card-title"><b>@Html.DisplayFor(ad => kampanya.Baslik)</b></h2>
            <p class="card-text">@Html.DisplayFor(ad => kampanya.YaziMetni)</p>
        </div>
        <div class="card-footer text-muted">
            @Html.DisplayFor(ad => kampanya.YaziTarihi) tarihinde eklenmiştir.
        </div><br />
    </div>
    <br />
    <hr />
}