﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Merhaba " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Oturumu kapat</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Session["UserId"] != null)
        {
            <li>@Html.ActionLink("Hesap", "Index", "Kullanici")</li>
            <li>@Html.ActionLink("Çıkış", "Cikis", "Kullanici")</li>

        }
        else
        {
            <li>@Html.ActionLink("Giriş", "Giris", "Kullanici", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Kayıt", "Kayit", "Kullanici", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
    </ul>
}
