﻿@model LetsHelp.Models.Kampanya

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Silmek istediğinize eminmisiniz ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YaziTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YaziTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YaziMetni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YaziMetni)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
