﻿@model IEnumerable<LetsHelp.Models.Kampanya>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Kampanya Oluştur", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Başlık
        </th>
        <th>
            Oluşturma Tarihi
        </th>
        <th>
            İçerik
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YaziTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YaziMetni)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KampanyaID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KampanyaID })
        </td>
    </tr>
}

</table>
